@model EITC_route_planning.Models.Shippment

@{
    ViewBag.Title = "Home Page";
}
<h1>East India Trading Company</h1>
@using (Html.BeginForm("SearchRoute", "Home", FormMethod.Post))
{
    <form class="row">
        <div class="col-sm-6">
            <label for="weight">Weight</label>
            @Html.TextBoxFor(m => m.Weight, new { @class = "form-control" })

            <!--<input id="weight" type="number" class="form-control" aria-describedby="weightHelp" placeholder="ex: 2.8" aria-describedby="weightAddon">-->
        </div>
        <div class="col-sm-6">
            <label for="typeOfPackage">Type of package</label>
            <div class="form-group" name="typeOfPackage">
                @Html.DropDownListFor(m => m.Category.Name, Model.Categories, "- Please select a category -", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-6">
            <label for="from">From</label>
            <div class="form-group" name="cityFrom">
                @Html.DropDownListFor(m => m.CityFrom, Model.CitiesFrom, "- Please select a city -", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-6">
            <label for="to">To</label>
            <div class="form-group" name="cityTo">
                @Html.DropDownListFor(m => m.CityTo, Model.CitiesTo, "- Please select a city -", new { @class = "form-control" })
            </div>
        </div>

        <div class="col-sm-12">
            <input type="submit" value="Submit" />
        </div>
    </form>
}

<br />

<img src="http://3.bp.blogspot.com/-moi6Kgo0YRg/UVOAn63VKcI/AAAAAAAADxM/lINGO-IXeTA/s1600/Spel,%20Den%20f%C3%B6rsvunna%20diamanten.%20Fr%C3%A5n%20slutet%20av%201990-talet%20(2).JPG" alt="Map of Africa" style="width: 35%; display: block; margin-left: auto; margin-right: auto;">

<iframe name="frameMain" width="80%" height="450px" scrolling="auto" src="https://www.dr.dk/ligetil"></iframe>

<br />

<div class="list-group">
    <a href="/overview" class="list-group-item">
        <div class="row">
            <div class="col-xs-4">
                <h4>Fastest Route</h4>
            </div>
            <div class="col-xs-8">
                <div class="row">
                    <div class="col-xs-6">
                        <strong>From:</strong> x
                    </div>
                    <div class="col-xs-6">
                        <strong>Duration:</strong> x
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <strong>To:</strong> x
                    </div>
                    <div class="col-xs-6">
                        <strong>Cost:</strong> x
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a href="#" class="list-group-item">Cheapest route: </a>
</div>